nav-component {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;

  .navbar {
    justify-content: left;
  }
  .btn {
    margin-left: 0.25rem;
    display: inline-flex;
    color: dimgray;
    i {
      margin-right: 5px;
    }
    &:hover {
      color: black;
    }
  }
  .btn.focus,
  .btn:focus {
    outline: 0;
    box-shadow: none;
  }

  .btn-icon {
    padding: 6px 8px;
    border-color: unset;
    border: 0;
    i {
      margin-right: 0;
    }
  }
  .nav-link:first-child {
    padding-right: 0;
  }
}
