<nav>
  <button
    type="button"
    class="btn nav-link"
    data-action="ACTION__PLAYERS__CREATE_PLAYER"
  >
    <i class="material-icons">person_add</i>
    Player Add
  </button>

  <button type="button" class="btn nav-link" onclick="location.href='/#combat'">
    <i class="material-icons">sports_kabaddi</i>
    Combat
  </button>

  <button
    type="button"
    class="btn nav-link"
    onclick="location.href='/#players-list'"
  >
    <i class="material-icons">list_alt</i>
    Players List
  </button>
</nav>
