form-new-ingredient {
  display: block;
  padding: 6px;

  h3 {
    text-align: center;
    padding: 10px 0;

    cursor: pointer;
    transition: 0.5s;
    border-radius: 6px;

    &:hover {
      background-color: antiquewhite;
    }
  }
}
