<section>
  <header>PlayersListComponent</header>

  <template class="template-card">
    <section class="card card-body">
      <header class="player-name" data-key="key" data-action="action">
        player name
      </header>
      <section class="player-info">
        <button
          class="btn-remove-player btn material-icons"
          data-key="key"
          data-action="ACTION__PLAYERS__DELETE_PLAYER"
        >
          person_remove
        </button>

        <div class="player-color">
          <div class="total-text" data-key="key">100</div>
        </div>

        <button
          class="btn-open-player btn material-icons"
          data-key="key"
          data-action="action"
        >
          engineering
        </button>
      </section>

      <section class="level">
        <header class="level-header material-icons">stars</header>

        <button
          class="btn-level-minus btn material-icons"
          data-key="key"
          data-action="ACTION__PLAYERS__PROPERTY_DECREASE"
          data-property="level"
        >
          arrow_circle_down
        </button>

        <span class="level-text" data-key="key">100</span>

        <button
          class="btn-level-plus btn material-icons"
          data-key="key"
          data-action="ACTION__PLAYERS__PROPERTY_INCREASE"
          data-property="level"
        >
          arrow_circle_up
        </button>
      </section>

      <section class="power">
        <header class="power-header material-icons">gavel</header>

        <button
          class="btn-power-minus btn material-icons"
          data-key="key"
          data-action="ACTION__PLAYERS__PROPERTY_DECREASE"
          data-property="power"
        >
          arrow_circle_down
        </button>

        <span class="power-text" data-key="key">100</span>

        <button
          class="btn-power-plus btn material-icons"
          data-key="key"
          data-action="ACTION__PLAYERS__PROPERTY_INCREASE"
          data-property="power"
        >
          arrow_circle_up
        </button>
      </section>
    </section>
  </template>
</section>
