app-crafting {
  display: grid;
  max-width: 1140px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;

  .overflow-auto {
    max-height: 100vh;
  }

  .direction-rtl {
    direction: rtl;
  }

  .direction-ltr {
    direction: ltr;
  }
}
