@import 'rest';
// @import 'fonts';
// @import 'colors';
// @import 'buttons';

*,
html,
body,
span,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-color: #efefef;
}
