<article class="card card-body">
  <header>Настольная карточная игра Манчкин (Munchkin)</header>

  <p>Количество игроков 3-6</p>
  <p>Возраст игроков 10+</p>
  <p>Время игры 30+</p>

  <section>
    <header>Немного об игре</header>
    <p>
      Игра «Манчкин» – локализация настольной карточной игры Munchkin. На
      русском языке игра, как ни старайся, приобретает новое звучание, но
      остаётся по-прежнему азартной, динамичной и злорадной. Ролевое
      зубоскальство по простым, но местами намеренно туманным правилам
      подвергает насмешкам благородных эльфов, мудрых магов, отважных воинов и
      мохноногих хафлингов. Клирики бьются с андедами, воры подрезают своих
      соперников в разгар боя, гигантские Кальмадзиллы и мерзкие Лицесосы
      стремятся отравить или отнять геройские жизни ваших манчкинов, но так, на
      расслабоне, без долгих речей и многочисленных бросков разногранных костей,
      принятых в D&D, GURPS и прочих равенлофтах.
    </p>
  </section>

  <section>
    <header>Так что же такое «Манчкин»?</header>
    <p>
      Настольная игра "Манчкин" - это ролевая игра по форме, пародия по
      содержанию. Манчкины игроков ходят по подземелью, вытаскивают на свет
      божий тамошних чудовищных обитателей и либо раскаиваются в этом, либо
      получают за победу новые уровни и сокровища. Исход каждого подобного
      приключения (боя, короче) зависит от того, кто с чем на бой вышел. У
      игрока это уровень и бонусы/штрафы от шмоток, класса, расы и проклятий. У
      монстра это уровень плюс карты-усилители и разовые шмотки. Откуда шмотки у
      монстра? В вашем бою могут принять участие и завистливые соперники: они
      могут помогать монстру и ослаблять вас. Поэтому, хотя в "Манчкин" и можно
      играть вдвоём, наберите на матч побольше народу: на руках будет больше
      проклятий, усилителей и зелий, которыми так легко изменить баланс сил в
      бою в любую сторону, и бдительные завистники не дадут никому из вас выйти
      в единоличные лидеры гонки к 10му победному уровню.
    </p>
  </section>

  <section>
    <header>А кому вы бы посоветовали этот настоящий хит?</header>
    <p>
      При создании эта настольная игра была направлена на молодёжную аудиторию,
      знакомую с ролевыми играми. Тем не менее, играть в игру "Манчкин" можно в
      любом возрасте, кроме совсем уж нежного, в котором некоторые шутки Стива
      Джексона могут показаться чересчур солёными. А так фэнтези-приключение с
      мужественными/женственными героями, невероятными ситуациями, неописуемо
      жуткими невыразимыми монстрами и огромными сокровищницами понравится
      любому человеку с широким кругозором и здоровым чувством юмора.
    </p>
  </section>
</article>
