<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Server to Munchkin</title>
    <style>
      * {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        background-color: gainsboro;
        text-align: center;
      }
      h1 {
        font-size: 200%;
        color: #006b00;
      }
    </style>
  </head>

  <body>
    <h1>Server to Munchkin</h1>
    <p>Сервер успешно запущен!</p>
    <a href="api">http://localhost:port/api/</a> - тестовый API
  </body>
</html>
